{% extends '_lecturerBase.html.twig' %}

{# ----------------------------------------#}
{% block title %}
    Add and Delete
{% endblock %}

{# ----------------------------------------#}
{% block indexNavStyle %}{% endblock %}

{# ----------------------------------------#}
{% block main %}
<p>
    Todays Date: {{ post.published_at|date("d/m/Y", false) }}
</p>
    <h3>jobs and Jobs</h3>
    <form method="post" action="/jobPostAction">
        <h3>List of jobs</h3>
        <table>
            <tr>
                <th>id</th>
                <th>company name</th>
                <th>title</th>
            </tr>
            {# #}
            {% for job in jobs %}
                <tr>
                    <td>{{ job.employerid }}<input type="checkbox" name="check_emp_id[]" value={{ job.empolyerid }}></td>
                    <td>{{ job.companyname | capitalize}}</td>
                    <td>{{ job.title | capitalize}}</td>
                </tr>
            {% endfor %}
        </table>
        <p>
            Job Title
            <input type="text" name="job_title" autofocus >
        </p>
        <p>
            Set Application Deadline: 
            <br>
            Date & Time

            <input type="datetime-local" name="dateTime" >
        </p>
        <p>
            job ID
            <input type="text" name="empId">
        </p>
        <input type="submit" value="Submit Job" >
    </form>

    {#  #}
    {# #}

{% endblock %}